HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
lib/hamcrest-core-1.3.jar
lib/junit-4.12.jar

### nodejs ###
/restaurantReservation-web/node_modules/**

### java ###
/restaurantReservation-admin-api/src/main/resources/application.properties
/restaurantReservation-admin-customer-api/src/main/resources/application.properties
/restaurantReservation-admin-login-api/src/main/resources/application.properties
